<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AddDoctor</servlet-name>
        <servlet-class>Controller.AddDoctor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPatient</servlet-name>
        <servlet-class>Controller.AddPatient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddRecp</servlet-name>
        <servlet-class>Controller.AddRecp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddWorker</servlet-name>
        <servlet-class>Controller.AddWorker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLogin</servlet-name>
        <servlet-class>Controller.AdminLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminRegister</servlet-name>
        <servlet-class>Controller.AdminRegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updatePatient</servlet-name>
        <servlet-class>Controller.updatePatient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserLogin</servlet-name>
        <servlet-class>Controller.UserLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserRegister</servlet-name>
        <servlet-class>Controller.UserRegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoctorLogin</servlet-name>
        <servlet-class>Controller.DoctorLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecpLogin</servlet-name>
        <servlet-class>Controller.RecpLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateDoctor</servlet-name>
        <servlet-class>Controller.updateDoctor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateRecp</servlet-name>
        <servlet-class>Controller.updateRecp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddAppointment</servlet-name>
        <servlet-class>Controller.AddAppointment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateAppointment</servlet-name>
        <servlet-class>Controller.updateAppointment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Patientupdate</servlet-name>
        <servlet-class>Controller.Patientupdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAddAppointment</servlet-name>
        <servlet-class>Controller.AdminAddAppointment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateWorker</servlet-name>
        <servlet-class>Controller.updateWorker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PayEChannelling</servlet-name>
        <servlet-class>Controller.PayEChannelling</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PayMCheckup</servlet-name>
        <servlet-class>Controller.PayMCheckup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>Controller.UploadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddDoctor</servlet-name>
        <url-pattern>/AddDoctor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPatient</servlet-name>
        <url-pattern>/AddPatient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddRecp</servlet-name>
        <url-pattern>/AddRecp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddWorker</servlet-name>
        <url-pattern>/AddWorker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLogin</servlet-name>
        <url-pattern>/AdminLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminRegister</servlet-name>
        <url-pattern>/AdminRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updatePatient</servlet-name>
        <url-pattern>/updatePatient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLogin</servlet-name>
        <url-pattern>/UserLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserRegister</servlet-name>
        <url-pattern>/UserRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoctorLogin</servlet-name>
        <url-pattern>/DoctorLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecpLogin</servlet-name>
        <url-pattern>/RecpLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateDoctor</servlet-name>
        <url-pattern>/updateDoctor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateRecp</servlet-name>
        <url-pattern>/updateRecp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAppointment</servlet-name>
        <url-pattern>/AddAppointment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateAppointment</servlet-name>
        <url-pattern>/updateAppointment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Patientupdate</servlet-name>
        <url-pattern>/Patientupdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAddAppointment</servlet-name>
        <url-pattern>/AdminAddAppointment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateWorker</servlet-name>
        <url-pattern>/updateWorker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PayEChannelling</servlet-name>
        <url-pattern>/PayEChannelling</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PayMCheckup</servlet-name>
        <url-pattern>/PayMCheckup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/UploadServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
